rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permite leitura pública de todos os arquivos
    match /{allPaths=**} {
      allow read;
    }

    // Permite a escrita (upload) pública apenas na pasta 'general-uploads'
    match /general-uploads/{allPaths=**} {
      allow write: if true;
    }

    // Permite a escrita (upload) na pasta de autenticação facial
    // A autenticação é feita via Firebase Admin SDK no servidor
    match /italosantos.com/facial-auth-users/{allPaths=**} {
      allow write: if true;
    }
  }
}
